{% extends 'templates/layouts/public.njk' %}
{% from '../templates/macros/public/recipe_list.njk' import recipelist %}

{% block css %}
<link rel="stylesheet" href="styles/home.css">
<link rel="stylesheet" href="styles/search.css">
{% endblock %}

{# {% block search %}
{% include 'templates/includes/filter.njk'%}
{% endblock %} #}

{% block content %}
<section class="home container">

    <section class="banner separate">
        <div class="banner__information">
            <div class="banner__information__msg">
                <h1 class="banner__information__title">As melhores receitas</h1>
                <p class="banner__information__text">Aprenda a contrutir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>

            <div class="banner__bg">
                <img class="banner__bg__image"src="/assets/chef.png" alt="">
            </div>
        </div>
    </section>

    {{ recipelist('Mais Acessadas', recipes, 6) }}

</section>
{% endblock %}

{% block scripts%}
<div class="modal">
    <div>
        <img src="">
        <h1></h1>
        <p></p>
        <a class="close-modal">Fechar modal</a>
    </div>
</div>

<script src="scripts/public/modal_controller.js"></script>
{% endblock %}
