{%extends 'template/public.njk' %}

{% block css%}
{% endblock%}

{% block content %}
<section class="home container">

    <section class="f-banner separate">
        <div class="f-banner__information">
            <div class="f-banner__information__message">
                <h1 class="f-banner__title">As melhores receitas</h1>
                <p class="f-banner_message">Aprenda a contrutir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            

            <div class="f-banner__bg">
                <img class="f-banner__bg__image"src="/assets/chef.png" alt="">
            </div>
        </div>
    </section>

    <section class="f-recipes_list separate">
        <div class="f-recipes_list__header">
            <h1 class="f-recipes_list__header__title">Mais Acessadas</h1>
        </div>

        {% for recipe in recipes%}
            {% if loop.index0 < 6 %}
            <div class="f-recipes_list__card">
                <img class="f-recipes_list__image" src="{{recipe.image}}" alt="{{recipe.title}}">
                    
                <div class="f-recipes_list__informations">
                    <h3 class="f-recipes_list__informations__title">{{recipe.title}}</h3>
                    <p class="f-recipes_list__informations__author">por {{recipe.chef_name}}</p>
                    {# <a href="/recipes/{{recipe.id}}">Visualizar</a> #}
                </div>     
            </div>
            {% endif %}
        {% endfor %}

    </section>

</section>
{% endblock %}

{% block scripts%}
<div class="modal">
    <div>
        <img src="">
        <h1></h1>
        <p></p>
        <a class="close-modal">Fechar modal</a>
    </div>
</div>

<script src="scripts/modalController.js"></script>
{% endblock %}