{% extends 'templates/layouts/admin.njk' %}

{% block css%}
<link rel="stylesheet" href="/styles/admin/forms.css">
{% endblock %}

{% block content %}
    <section class="chefs-create form form-create container">
        
        <form action="/admin/chefs" method="POST">
            
            <div class="header">
                <h1>Criando Chef</h2>
            </div>            

            <div class="fields">
                {% include 'admin/chefs/fields.njk'%}       
            </div>

        
            <button class="button create" type="submit">Salvar Chef</button>
        </form>
    </section>
{% endblock %}


