<div class="card">
    <div class="title">Nome</div>

    <input
        type="text"
        id="name"
        name="name"
        value="{{chef.name}}"
    >
</div>

{# IMAGE #}
<div class="card card__image">
    <div class="title">Avatar</div>


    <label for="image" class="avatar_url">Enviar avatar</label>
    <input
        type="file"

        id="image"
        name="avatar_url"
        value="{{chef.avatar_url}}"
        accept="image/*"
    >
</div>
