{% extends 'templates/layouts/admin.njk' %}
{% from '../../templates/macros/admin/chef-content.njk' import cheflist %}

{# {% block search %}
{% include '../../templates/includes/filter.njk'%}
{% endblock %} #}

{% block css %}
<link rel="stylesheet" href="/styles/admin/chefs/chefs-index.css">
{% endblock %}


{% block content %}
    <section class="chefs-content container">

            {{ cheflist('Gerenciar chefes', chefs)}}

    </section>
{% endblock %}