{% extends 'templates/layouts/admin.njk' %}
{% from '../../templates/macros/admin/recipe-content.njk' import recipeContent %}

{% block css%}
<link rel="stylesheet" href="/styles/admin/chefs/chefs-show.css">
<link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock %}

{% block content %}
<section class="chefs-content container">

    <div class="chefs__show__control">
        <h3>Chefe: {{chef.name}}</h3>
        <a href="/admin/chefs/{{chef.id}}/edit" id="{{chef.id}}" class="button button-edit">Editar Chefe</a>
    </div>

    <section class="chefs__show__avatar">
        <img src="{{chef.avatar_url}}" alt="{{chef.name}}">

        <h1>{{chef.name}}</h1>
        <span class="chefs__show-qtde">{{chef.recipes.length}} 
            Receita{% if chef.recipes.length > 1 %}s{% endif %}
        </span>
    </section>

    
    {{ recipeContent("Receitas", chef.recipes, chef)}}
</section>
{% endblock %}
