<form class="f-nav__filter" action="/search" method="GET">
     <input 
          class="f-nav__filter__input"
          type="text" 
          name="filter" 
          value="{{filter.term}}" 
          placeholder="Buscar uma receita"
     >

     <button class="f-nav__filter__search button">Buscar</button>
</form>
