<form class="nav__filter" action="/search" method="GET">
     <input 
          class="nav__filter__input"
          type="text" 
          name="filter" 
          value="{{filter.term}}" 
          placeholder="Buscar uma receita"
     >

     <button class="nav__filter__button button">Buscar</button>
</form>
