{% macro cheflist(title, chefs)%}
<section class="chef-content__wrapper container">
     <div class="chef-content">
          
          {% if title %}
               <h1 class="chef-content__title">{{title}}</h1>
          {% endif %}

          {% for chef in chefs %}
          <div class="chef-content__list">
               <img class="chef-content__list__avatar" src="{{chef.avatar_url}}" alt="{{chef.name}}">

               <div class="chef-content__list__information">
                    <h4>{{chef.name}}</h4>
                    <p>
                         {% if chef.qtdeRecipes <= 1 %}
                         {{ chef.qtdeRecipes}} Receita
                         {% else %}
                         {{ chef.qtdeRecipes}} Receitas
                         {% endif %}
                    </p>
               </div>
          </div>
          {% endfor %}

     </div>
</section>

{% endmacro %}