{% extends 'layout.njk' %}

{% block css %}
<link rel="stylesheet" href="/styles/admin/index.css">
<link rel="stylesheet" href="/styles/filter.css">
{% endblock %}

{% block content %}
    {% include 'admin/recipes/filter.njk' %}

    <section class="management-wrapper container">
        <div class="management">
            <h1 class="title">Gerenciar receitas</h1>

            {% for recipe in recipes %}
                <div class="recipes">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    
                    <div class="info">
                        <h3>{{recipe.title}}</h3>
                        <p>por {{recipe.author}}</p>
                        <a href="/recipes/{{recipe.id}}">Visualizar</a>
                    </div>     
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}

{% block scripts%}
    <script src="scripts/redirectToRecipe.js"></script>
    <script src="scripts/filter.js"></script>
{% endblock%}