// .f-recipes_list.chefs {
//   grid-template-columns: repeat(4, 1fr);
//   gap: 10px;

//   &__header {
//     grid-column: 1 / 5;
//   }

//   &__card {
//     grid-template-columns: 64px 1fr;
//     grid-auto-rows: 64px;
//   }

//   &__image {
//     border-radius: 50%;
//   }
// }

.f-recipes_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  &__header {
    grid-column: 1 / 4;
    margin-bottom: 20px;

    &__title {
      font-size: 2rem;
    }
  }

  &__card {
    display: grid;
    grid-auto-rows: 140px 70px;

    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__image {
    border-radius: 9px;
    object-fit: cover;

    width: 100%;
    height: 100%;
  }

  &__informations {
    align-self: flex-start;

    &__title {
      font-weight: 400;
      font-size: 1.125rem;
    }

    &__author {
      color: #777;
      font-size: 0.875rem;
    }
  }
}

// .recipes .info a {
//   font-size: 0.875rem;
//   font-weight: 700;
//   color: var(--primary-color);
// }

// .recipes .info a {
//   font-size: 0.875rem;
//   font-weight: 700;
//   color: var(--primary-color);
// }
