<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/main.css">
    
    <title>Foodfy</title>
    {% block css%}{% endblock %}
</head>
<body>
    <main class="app">
            <header class="f-nav separate">
                <div class="f-nav__wrapper container">
                    <div class="f-nav__logo">
                        <a class="foodfy" href="/">Foodfy</a>
                    </div>

                    <ul class="f-nav__navigation">
                        <li class="f-nav__item"><a class="f-nav__link" href="/about">Sobre</a></li>
                        <li class="f-nav__item"><a class="f-nav__link" href="/recipes">Receitas</a></li>
                        <li class="f-nav__item"><a class="f-nav__link" href="/admin/chefs">Chefes</a></li>
                    </ul>
                </div>
            </header>

            {% block content %}
            
            {% endblock %}

    </main>

    <footer class="f-footer">
        <p class="f-footer__text">Todos direitos reservados, receitas Foodfy.</p>
    </footer>
    
    {% block scripts%}{% endblock %}
</body>
</html>