{% extends 'templates/layouts/public.njk' %}
{% from '../../templates/macros/public/recipe_list.njk' import recipelist %}

{% block css %}
<link rel="stylesheet" href="/styles/recipes.css">
<link rel="stylesheet" href="/styles/search.css">
{% endblock %}

{% block search %}
     {% include '../../templates/includes/filter.njk' %}
{% endblock %}

{% block content %}
<div class="recipes__wrapper container">
     {{ recipelist(null, recipes) }}
</div>
{% endblock %}

{% block scripts %}
<script src="scripts/public/redirect_to_recipe.js"></script>
{% endblock %}