section.banner {
    width: 100%;
    height: 366px;

    background-color: #FBDFDB;
    border-radius: 30px;

    display: grid;
    margin-bottom: 50px;
}

.banner__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

.banner__information__msg {
    margin: 0 60px;

    max-width: 320px;
}

.banner__information__title {
    font-size: 2rem;
    font-weight: 700;
    max-width: 320px;
    margin-bottom: 10px;
}

.banner__information__text {
    font-size: 1.125rem;
    opacity: .7;
    line-height: 28px;
}

.banner__bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner__bg__image {
    position: absolute;
    bottom: 0;
    right: 100px;
}


/* STYLE: LISTAGEM DE RECIPES */
.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.recipes__title {
    grid-column: 1 / 4;
    font-size: 1.5rem;
    
    margin-bottom: 20px;
}

.recipes__card {
    display: grid;
    grid-template-rows: 140px 1fr;
    gap: 20px;

}

.recipes__card__image {
    object-fit: cover;
    
    border-radius: 16px; 
    height: 100%;
    width: 100%;
}

.recipes__card__title {
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.recipes_card_author {
    font-size: 14px;
    color: #777;

}