@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6558c3;
    --soft-red: hsl(345, 95%, 68%);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    /* width: 100%;
    min-height: 100vh; */
}

.app {
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
}
.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}


/* ------------------- */
/* NAVIGATION */

.navigation.admin {
    background-color: #111;
}

.navigation.admin .logo {
    color: white;
}

.admin .navigation-wrapper .menu a {
    color: white;
}

.admin .navigation-wrapper .menu a:hover::after {
    background-color: white;
}

.navigation {
    width: 100%;
    margin-bottom: 30px;
}

.navigation-wrapper {
    display: flex;
    align-items: center;

    min-height: 80px;
}

.navigation-wrapper .logo {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
}

.navigation-wrapper .menu {
    margin-left: 120px;
}

.navigation-wrapper .menu a {
    font-size: 1rem;
    color: #111;
    
    margin-right: 15px;
    position: relative;
}

.navigation-wrapper .menu a:hover {
    font-weight: 600;
}

.navigation-wrapper .menu a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    
    width: 0;
    height: 1px;
    border-radius: 8px;
    
    transition: 1s;
}

.navigation-wrapper .menu a:hover::after {
    width: 100%;
    height: 1px;
    background-color: #111;
}

/* NAVIGATION RESPONSIVE */
@media (max-width: 940PX){
    .navigation {
        padding: 0 30px 0 30px;
    }
}

@media (max-width: 480px){
    .navigation-wrapper {
        flex-direction: column;
    }

    .navigation-wrapper .menu {
        text-align: center;
        margin: 0;
    }

    .navigation-wrapper .menu a {
        display: block;
        margin: 0 0 5px 0;
    }

    .navigation-wrapper .menu a:last-child {
        margin: 0;
    }
}


/* ------------------- */
/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 62px;
    background-color: #eee;
    margin-top: auto;
    position: relative;
}

footer p {
    font-size: 1rem;
    color: #777;
    letter-spacing: 1px;
    opacity: .7;
}

/* MODAL */
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: .5s;

    background-color: rgba(0,0,0,.5);

    visibility: hidden;
    opacity: 0;
    top: 0;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal div {
    background-color: white;
    width: 660px;
    height: 413px;
    border-radius: 16px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.modal div img {
    width: 100%;
    height: 200px;

    border-radius: 16px;    
    margin-bottom: 20px;
}

.modal div h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;

    margin-bottom: 5px;
}

.modal div p {
    color: #777;
    font-size: 1rem;
    opacity: 0.8;
}

.modal div .close-modal {
    margin-top: auto;
    color: #777;
    opacity: .5;
    letter-spacing: 1px;
    cursor: pointer;
}