<form class="filter" action="/search" method="GET">
    <input 
        type="text"
        name="filter"
        value="{{filter.term}}"
        placeholder="Buscar uma receita"    
    >

    <button id="search">Buscar</button>
</form>

