{% extends 'admin/layout.njk' %}

{% block css %}
<link rel="stylesheet" href="/styles/admin/index.css">
{% endblock %}

{# {% extends 'admin/recipes/filter.njk' %} #}

{% block content %}
    <section class="management-wrapper container">
        <div class="management">
            <h1 class="title">Gerenciar receitas</h1>

            {% for recipe in recipes %}
                <div class="recipes">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    
                    <div class="info">
                        <h3>{{recipe.title}}</h3>
                        <p>por {{recipe.author}}</p>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>     
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}