{% extends 'templates/layouts/admin.njk' %}
{% from '../../templates/macros/admin/recipe-content.njk' import recipeContent %}

{% block css%}
<link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock %}

{% block content %}
<section class="recipes-content container">

    {{recipeContent('Gerenciar Receitas', recipes)}}
    
</section>
{% endblock %}