{% extends 'templates/layouts/admin.njk' %}

{% block css %}
<link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock %}

{% block content %}
<section class="recipes-show container">

  <div class="recipes-show__control">
    <h2 class="subtitle">Receita: {{recipe.title}}</h1>
      <a href="/admin/recipes/{{recipe.id}}/edit" class="button button-edit">Editar receita</a>
  </div>

  <section class="show-images__container">
    <div class="show-images__main">
      <img src="{{recipe.files[0].src}}" alt="{{recipe.title}}" id="{{recipe.files[0].id}}">
    </div>

      <div class="show-images__childrens">
        {% if images %}
          {% for image in images %}
            <div class="show-images__children" onclick="ImagesController.changeImages(this)">
              <img src="{{image.src}}" id="{{image.id}}">
              <div></div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <h1 class="recipes-show__informations__title">{{recipe.title}}</h1>
    <p>por {{recipe.chef_name}}</p>
  </section>


  {# INGREDIENTS #}
  <section class="recipes-show__descriptions">

    {% if recipe.ingredients.length > 0 %}
    <div class="recipes-show__cards">

      <div class="recipes-show__cards__info">
        <div class="recipes-show__cards__title">Ingredientes</div>
      </div>

      <ul class="recipes-show__cards__itens">
        {% for ingredient in recipe.ingredients %}
        <li>{{ingredient}};</li>
        {% endfor%}
      </ul>
    </div>
    {% endif %}

    {# PREPARATION #}
    {% if recipe.preparation.length > 0 %}
    <div class="recipes-show__cards">

      <div class="recipes-show__cards__info">
        <div class="recipes-show__cards__title">Modo de preparo</div>
      </div>

      <div class="recipes-show__cards__itens">
        <ul>
          {% for preparation in recipe.preparation %}
          <li>{{preparation}};</li>
          {% endfor%}
        </ul>
      </div>


    </div>
    {% endif %}

    {# INFORMATIONS #}
    {% if recipe.information %}
    <div class="recipes-show__cards">
      <div class="recipes-show__cards__info">
        <div class="recipes-show__cards__title">Informações Adicionais</div>
      </div>
      <div class="recipes-show__cards__itens">
        <p>{{recipe.information}}</p>
      </div>
    </div>
    {% endif %}
  </section>
</section>
{% endblock %}

{% block scripts %}
<script src="/scripts/public/recipe_flip-flop.js"></script>
<script src="/scripts/admin/imagesController.js"></script>
{% endblock%}
